<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration</h1>
<form action="register" method="post">
    {% csrf_token %}
        <input type="text" name="username" placeholder="Enter username"><br>
        <input type="text" name="First_Name" placeholder="Enter First_Name"><br>
        <input type="text" name="Last_Name" placeholder="Enter Last_Name"><br>
        <input type="email" name="mail-id" placeholder="Enter mail-id"><br>
        <input type="password" name="Password" placeholder="Enter Password"><br>
        <input type="password" name="Conformation Password" placeholder="Enter Conformation Password"><br>
        <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>